In [51]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [52]:
def extract_2d_array(tensor_str):
    
    tensor_str = tensor_str.replace('tensor(','').replace('grad_fn=<TanhBackward0>)', '').replace(' ', '').replace('\n', '')
    tensor_str = tensor_str[:len(tensor_str)-1]
    numbers = eval(tensor_str)
    
    array = np.array(numbers).reshape((-1, 768))  
    # print(array)
    
    return array

def is_float(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

In [53]:
# df = pd.read_csv("./dataset.csv")
# df = df[:80000]
# df.to_csv("dataset_80000.csv", index=False)

In [54]:
df = pd.read_csv("./dataset_80000.csv")

df = df[df['ratings'].apply(is_float) & df['no_of_ratings'].apply(is_float)]

print(df['ratings'].unique())
print(df['no_of_ratings'].unique())
df['ratings'] = df['ratings'].astype('float64')
df['no_of_ratings'] = df['no_of_ratings'].astype('int')

grouped = df.groupby(by=['sub_category'])
ratings_mean = grouped['ratings'].mean()
print(ratings_mean)
number_mean = grouped['no_of_ratings'].mean()
print(number_mean)

['4.3' '4.5' '4.4' '3.6' '4.1' '4.2' '3.9' '3.7' '3.8' '4.0' '3.5' '5.0'
 '4.7' '3.3' '4.8' '3.1' '3.0' '4.6' '2.9' '2.8' '3.4' '3.2' '1.3' '2.5'
 '2.2' '4.9' '2.6' '2.7' '1.0' '1.5' '2.4' '2.0' '1.8' '2.3' '1.4' '2.1'
 '1.2' '1.9' '1.6' '1.7' '1.1']
['37' '396' '985' '94' '38' '26' '254' '205' '428' '477' '196' '295' '172'
 '872' '752' '76' '30' '73' '150' '206' '740' '374' '114' '996' '83' '75'
 '822' '377' '96' '63' '703' '93' '22' '29' '557' '27' '874' '224' '882'
 '281' '519' '723' '87' '273' '55' '215' '467' '182' '15' '218' '12' '109'
 '213' '69' '788' '394' '436' '19' '1' '4' '175' '25' '180' '188' '35'
 '323' '184' '2' '34' '495' '3' '492' '223' '77' '155' '336' '241' '126'
 '862' '412' '322' '104' '342' '134' '132' '297' '413' '478' '131' '640'
 '570' '685' '401' '5' '546' '216' '208' '260' '18' '10' '981' '49' '385'
 '11' '60' '398' '632' '473' '775' '165' '423' '623' '431' '421' '14'
 '681' '17' '41' '71' '515' '577' '633' '287' '256' '851' '177' '265'
 '516' '709' '404' '351' '128' '43' '118' '119' '836' '78' '887' '226'
 '211' '151' '54' '50' '535' '92' '590' '512' '250' '584' '564' '70' '543'
 '368' '698' '654' '422' '28' '366' '40' '796' '453' '381' '886' '105'
 '272' '987' '425' '123' '185' '603' '133' '85' '533' '538' '183' '233'
 '9' '144' '74' '212' '112' '7' '373' '304' '51' '101' '384' '79' '580'
 '251' '522' '21' '141' '346' '58' '625' '705' '8' '145' '540' '611' '470'
 '229' '98' '508' '940' '430' '166' '246' '195' '437' '576' '194' '6'
 '501' '588' '125' '350' '68' '764' '463' '697' '701' '42' '376' '124'
 '127' '179' '23' '170' '451' '598' '655' '210' '158' '61' '197' '321'
 '513' '214' '447' '483' '202' '637' '270' '113' '153' '386' '89' '53'
 '324' '922' '45' '56' '161' '207' '683' '445' '221' '142' '240' '688'
 '31' '696' '271' '663' '666' '267' '91' '20' '669' '472' '266' '57' '525'
 '236' '140' '340' '164' '159' '82' '673' '718' '199' '661' '248' '438'
 '99' '24' '95' '969' '36' '176' '615' '442' '301' '316' '234' '910' '408'
 '59' '311' '129' '457' '147' '204' '419' '178' '449' '586' '149' '291'
 '235' '173' '285' '275' '198' '434' '103' '315' '390' '249' '466' '192'
 '139' '607' '143' '239' '406' '148' '62' '756' '33' '349' '138' '509'
 '16' '111' '64' '72' '274' '277' '117' '901' '360' '950' '100' '670'
 '618' '46' '320' '32' '120' '392' '433' '162' '441' '415' '157' '121'
 '812' '66' '247' '13' '899' '47' '461' '52' '443' '479' '367' '773' '181'
 '708' '135' '488' '48' '689' '946' '589' '186' '305' '308' '730' '136'
 '106' '506' '146' '811' '312' '283' '459' '244' '115' '707' '594' '860'
 '108' '345' '631' '602' '258' '471' '330' '375' '839' '152' '81' '209'
 '809' '107' '253' '102' '529' '475' '619' '770' '313' '319' '784' '393'
 '169' '88' '116' '462' '44' '39' '816' '280' '332' '245' '480' '130'
 '325' '65' '217' '122' '749' '356' '391' '518' '160' '296' '167' '721'
 '900' '759' '781' '420' '599' '760' '677' '601' '531' '317' '935' '409'
 '960' '219' '446' '201' '464' '927' '889' '973' '837' '276' '798' '656'
 '680' '86' '802' '493' '793' '848' '722' '852' '563' '758' '930' '187'
 '804' '933' '955' '662' '807' '284' '348' '931' '561' '711' '710' '524'
 '439' '329' '866' '838' '943' '318' '203' '920' '84' '344' '154' '626'
 '505' '942' '937' '363' '934' '814' '261' '264' '435' '174' '737' '664'
 '833' '692' '585' '378' '485' '388' '962' '288' '938' '416' '609' '617'
 '553' '405' '991' '898' '986' '282' '846' '575' '876' '399' '539' '671'
 '595' '702' '743' '844' '354' '668' '733' '331' '659' '357' '294' '823'
 '225' '720' '314' '343' '855' '227' '884' '879' '706' '298' '232' '941'
 '444' '591' '684' '168' '674' '163' '383' '845' '80' '660' '745' '735'
 '424' '429' '355' '361' '643' '191' '956' '990' '878' '352' '300' '579'
 '612' '614' '627' '370' '231' '410' '649' '731' '190' '551' '700' '592'
 '465' '407' '289' '67' '532' '417' '565' '252' '891' '792' '222' '257'
 '783' '486' '968' '496' '362' '171' '843' '511' '613' '389' '498' '452'
 '268' '379' '665' '738' '372' '578' '890' '896' '568' '850' '917' '500'
 '448' '652' '885' '739' '484' '90' '641' '567' '450' '395' '397' '426'
 '327' '629' '923' '778' '644' '306' '526' '724' '455' '536' '713' '309'
 '528' '911' '359' '791' '527' '606' '474' '230' '893' '988' '555' '766'
 '299' '763' '521' '616' '497' '347' '787' '200' '541' '974' '695' '797'
 '573' '753' '292' '835' '255' '427' '870' '302' '303' '137' '562' '237'
 '957' '556' '369' '734' '97' '719' '334' '918' '456' '545' '263' '928'
 '628' '919' '687' '741' '610' '110' '729' '732' '582' '259' '228' '156'
 '307' '929' '353' '907' '818' '504' '193' '725' '638' '341' '238' '682'
 '554' '489' '774' '650' '771' '939' '566' '636' '810' '980' '694' '482'
 '279' '382' '411' '820' '510' '971' '468' '339' '371' '499' '523' '517'
 '949' '189' '440' '906' '587' '926' '403' '571' '831' '647' '469' '667'
 '333' '569' '242' '867' '597' '780' '902' '583' '880' '975' '220' '959'
 '861' '827' '326' '639' '365' '269' '604' '789' '786' '491' '549' '414'
 '794' '958' '813' '815' '755' '558' '675' '765' '278' '286' '338' '460'
 '863' '954' '648' '358' '507' '243' '868' '772' '967' '514' '894' '704'
 '828' '418' '550' '914' '768' '520' '387' '944' '712' '542' '262' '726'
 '727' '744' '857' '503' '310' '853' '608' '909' '978' '530' '290' '808'
 '402' '657' '605' '432' '912' '873' '620' '757' '552' '951' '915' '858'
 '502' '840' '293' '335' '905' '534' '856' '819' '458' '790' '859' '979'
 '801' '751' '913' '672' '776' '748' '875' '717' '634' '754' '785' '993'
 '544' '651' '728' '747' '803' '881' '646' '547' '715' '487' '904' '337'
 '679' '742' '800' '826' '494' '645' '693' '572' '961' '691' '779' '653'
 '903' '871' '380' '574' '966' '678' '948' '992' '829' '994' '560' '658'
 '537' '869' '621' '490' '593' '769' '805' '690' '736' '842' '849' '825'
 '624' '596' '686' '622' '888' '982' '998' '400' '481' '581' '642' '476'
 '746' '964' '847' '600' '548' '821' '817' '716' '630' '983' '761' '924'
 '883' '699' '932' '328' '364' '908' '963' '953' '895' '989' '714' '841'
 '767' '916' '976' '947' '952' '830' '782' '921' '635' '834' '897' '864'
 '777' '984' '559' '676' '795' '936' '892' '806' '977' '877' '454' '995'
 '865' '945' '799' '762' '854' '832' '824' '972' '997' '925' '999']
sub_category
Air Conditioners               3.792462
All Exercise & Fitness         3.880786
All Grocery & Gourmet Foods    4.156077
Camping & Hiking               3.678136
Cardio Equipment               3.864179
Fashion & Silver Jewellery     3.896832
Fashion Sandals                3.606575
Household Supplies             3.955515
Indoor Lighting                3.899411
Kitchen & Dining               4.042544
Lab & Scientific               3.846583
Men's Fashion                  3.875634
Sewing & Craft Supplies        4.042815
Snack Foods                    3.947881
Sports Shoes                   3.719904
Strength Training              3.726233
Toys & Games                   3.968966
Travel Accessories             3.878391
Travel Duffles                 3.915544
Watches                        3.829611
Western Wear                   3.769153
Name: ratings, dtype: float64
sub_category
Air Conditioners               108.731156
All Exercise & Fitness         141.240175
All Grocery & Gourmet Foods    294.649171
Camping & Hiking                50.172043
Cardio Equipment                66.171642
Fashion & Silver Jewellery      66.853018
Fashion Sandals                 38.007423
Household Supplies              87.783088
Indoor Lighting                103.297642
Kitchen & Dining               207.540146
Lab & Scientific                33.802158
Men's Fashion                  144.660058
Sewing & Craft Supplies         82.105572
Snack Foods                    104.208477
Sports Shoes                    81.706966
Strength Training               73.416366
Toys & Games                   180.767241
Travel Accessories              55.648265
Travel Duffles                  78.056995
Watches                         54.613354
Western Wear                    71.953365
Name: no_of_ratings, dtype: float64

In [55]:
# Group by 'sub_category' and calculate the 1/4th quartile for 'no_of_ratings'
quartile_1_no = grouped['no_of_ratings'].quantile(0.25)
# Print the 1/4th quartile values
print(quartile_1_no)

sub_category
Air Conditioners                3.00
All Exercise & Fitness          8.75
All Grocery & Gourmet Foods    82.50
Camping & Hiking                2.00
Cardio Equipment                3.00
Fashion & Silver Jewellery      3.00
Fashion Sandals                 2.00
Household Supplies              4.00
Indoor Lighting                 6.00
Kitchen & Dining               26.00
Lab & Scientific                2.00
Men's Fashion                   9.00
Sewing & Craft Supplies         6.00
Snack Foods                     7.00
Sports Shoes                    4.00
Strength Training               4.00
Toys & Games                   15.00
Travel Accessories              3.00
Travel Duffles                  3.00
Watches                         2.00
Western Wear                    4.00
Name: no_of_ratings, dtype: float64

In [56]:
# Group by 'sub_category' and calculate the 1/4th quartile for 'no_of_ratings'
quartile_1_rating = grouped['ratings'].quantile(0.75)
# Print the 1/4th quartile values
print(quartile_1_rating)

sub_category
Air Conditioners               4.2
All Exercise & Fitness         4.2
All Grocery & Gourmet Foods    4.3
Camping & Hiking               4.5
Cardio Equipment               4.3
Fashion & Silver Jewellery     4.3
Fashion Sandals                4.1
Household Supplies             4.5
Indoor Lighting                4.3
Kitchen & Dining               4.3
Lab & Scientific               4.6
Men's Fashion                  4.2
Sewing & Craft Supplies        4.4
Snack Foods                    4.3
Sports Shoes                   4.1
Strength Training              4.2
Toys & Games                   4.3
Travel Accessories             4.4
Travel Duffles                 4.5
Watches                        4.4
Western Wear                   4.1
Name: ratings, dtype: float64

In [59]:
# # Create scatter plots for each sub_category
# for sub_category, group in grouped:
#     plt.figure(figsize=(8, 6))
#     plt.scatter(group['no_of_ratings'], group['ratings'], alpha=0.6)
#     plt.title(f'Scatter Plot for {sub_category}')
#     plt.xlabel('Number of Ratings')
#     plt.ylabel('Ratings')
#     plt.grid(True)
#     plt.show()

In [58]:
def apply_thresholds(row):
    category = row['sub_category']
    return (row['no_of_ratings'] < quartile_1_no[category]) and (row['ratings'] > quartile_1_rating[category])

df_filtered = df[df.apply(apply_thresholds, axis=1)]
print(df_filtered.shape)

(7690, 10)

In [60]:
df_filtered.to_csv("Hidden products.csv", index=False)